@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

/* Program Wide Formating */

:root {
    font-family: 'Open Sans', sans-serif;
    overflow: auto;
}

/* General Formating */

.no-spacing {
    margin: 0;
    border: 0;
    padding: 0;
}

.height-100 {
    height: 100%;
}

.margin-top {
    margin-top: 20px;
}

.margin-top-small {
    margin-top: 10px;
}

.pointer {
    cursor: pointer;
}

.alert {
    margin: 5px;
}

.cut-text-1 {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.cut-text-3 {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

/* Index Formating Stuff */

.index-body {
    overflow: hidden;
    height: 100vh;
}

.main-container {
    width: 100%;
    height: calc(100vh - 56px);
}

/* Dashboard */

.row {
    margin: 0;
}

.card-container {
    padding: 5px;
    height: 230px;
}

.card-button {
    margin: 5px;
    width: calc(50% - 10px);
}

.new-card-button {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Quiz */

@media only screen and (max-width: 767px) {
    .sidebar {
        display: none;
    }
}

.sidebar {
    height: 100vh;
}